<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f2f2f2;
    }
</style>
<div class="container">
    <h2>Bienvenido a la pantalla de Balance</h2>
    <p class="centered-text">Su balance actual es de {{ balance }}</p>
    <p class="centered-text">La fecha de vencimiento de su tarjeta es el : {{ fechaVencimientoTarjeta }}</p>
    <button class="button" (click)="VolverAtras()">Volver atrás</button>
</div>
