<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f2f2f2;
    }

    h2 {
        text-align: center;
    }

    input[type="text"],
    button {
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <h2>Ingrese su PIN</h2>
    <input type="text" [(ngModel)]="ValorNumeroTarjeta" readonly>
    <input type="text" [(ngModel)]="PIN">
    <button (click)="GetAccessByUsuarioAsync()">Botón</button>
</div>