<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f2f2f2;
    }
</style>
<div class="container">
    <h2>Bienvenido a la pantalla de Retiro</h2>
    <input type="text" oninput="this.value = this.value.replace(/[^0-9],/g, '')" [(ngModel)]="valorRetirar" placeholder="Ingrese aquí el monto que desea retirar" />
    <button class="button" (click)="retirarDinero()">Retirar Dinero</button>
    <button class="button" (click)="VolverAtras()">Volver atrás</button>
</div>
